.cardcontainer {
  margin: 0 15px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show-campaign {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  background-color: EFFFFD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.campaign {
  width: 80%;
}
