<h1>Faça uma nova doação</h1>

<div class="container">
  <%= simple_form_for [@campaign, @donation] do |f| %>
    <%= f.input :donation_type, :placeholder => 'Cash, Food or Clothes only' %>
    <%= f.input :observation %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
