<h1>Create a new donation: </h1>

<div class="container">

  <%= simple_form_for [@campaign, @donation] do |f| %>
    <%= f.input :donation_type, collection: %w[Dinheiro Comida Roupas] %>
    <%= f.input :observation %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
