.form-container{
  margin: 50px auto;
}
.login{
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-control{
  background-color: white;
}
.btn-login{
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.link-password, .link-signup{
  text-decoration: none;
  margin-bottom: 10px;
}
.link-signup{
  display: inline-block;
  margin-top: 10px;
}
.p-layout-form{
  color: rgb(87, 80, 80);
  text-align: center;
}
