.form-container{
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.login{
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-control{
  background-color: rgb(255, 255, 255);
}
.btn-login{
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.link-password, .link-signup{
  text-decoration: none;
  margin-bottom: 10px;
}
.link-signup{
  display: inline-block;
  margin-top: 10px;
}
.p-layout-form{
  color: rgb(87, 80, 80);
  text-align: center;
}
.btn-cadastro{
  width: 100%;
  margin: 10px 0;
}
