.header-campaigns{
  // margin: 10px auto;
  text-align: center;
  align-items: center;
  height: 100px;
  background-color: rgb(136, 82, 115);
  color: white;
  margin-bottom: 30px;
}
.header-campaigns h1{
  display: inline-block;
}
