.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo{
  width: 40px;
  margin-right: 10px;
}

.brand-name{
  margin: 0;
  // font-family: var(--bs-body-font-family)
}
